[user]
        name = Evgeniy Sharapov
        email = evgeniy.sharapov@gmail.com
[alias]
        st = status
        ci = commit
        cm = commit -m
        ca = commit --amend --no-edit
        br = branch
        co = checkout
        df = diff
        d = diff -C
        ds = diff -C --stat
        dw = diff -C --color-words

        # logging commands 
        l = log -C --decorate
        ls = log -C --stat --decorate
        lsp = log -C --stat -p --decorate
        lgp = log -p
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit
#       lg = log --graph '--pretty=tformat: %C(cyan)%h%Creset %Cgreen%ad%Creset %C(yellow)%an%Creset %Cred%d%Creset %s' --date=short

        lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --all
#       lga = log --graph '--pretty=tformat: %C(cyan)%h%Creset %Cgreen%ad%Creset %C(yellow)%an%Creset %Cred%d%Creset %s' --date=short --all

        # searching for a stuff in git repo
        authors = !git log --format="%aN" | sort -u

[push]
        default = simple

[color]
        ui = auto
        diff = auto
        status = auto
        branch = auto
        interactive = auto

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[url "https://"]
        insteadOf = git://

[core]
        autocrlf = false
        filemode = false

# System Specific files (see https://git-scm.com/docs/git-config#_includes)
[include]
        path = ~/.gitconfig.ainq
        path = ~/.gitconfig.crio
        
