color=false
//registry.npmjs.org/:_authToken=938a6385-633b-4719-a158-f5ebfdf025ac
registry=https://nexus.ainq.com/repository/npm-ulp/
_auth=c3lzdGVtOjUtXz5CbDwxeUlDYQ==
email=system@ainq.com
always-auth=true
