color=true
//registry.npmjs.org/:_authToken=938a6385-633b-4719-a158-f5ebfdf025ac
//registry=https://nuget.enssandbox-ainq.com:5000
//_auth="c3lzdGVtOjUtXz5CbDwxeUlDYQ=="
//email=system@ainq.com
//always-auth=true
prefix=/Users/evgeniysharapov/.npm-packages
@audacious:registry=https://gitlab.com/api/v4/projects/33354452/packages/npm/
//gitlab.com/api/v4/projects/33354452/packages/npm/:_authToken=glpat-ikTwXA7JxJAEx7uzmVfH
@fontawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=E8EC7793-A630-49AA-8351-0887EE647296
